@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/montserrat.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/montserrat-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat italic";
    src: url(/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat italic";
    src: url(/assets/fonts/Montserrat-SemiBoldItalic.ttf);
    font-style: italic;
    font-weight: 700;
}
